body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header-1 {
    font-size: 50px;
    word-spacing: -5px;
    line-height: 1.2em;
}
h2 {
    font-size: 40px;
}
.hello {
    color: #363958;
}
.header-name {
    color: #FF8367;
}
p {
    color: #35363A;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg,#9BD5E0, #D3B3DA);
    padding: 10px 35px;
    border-radius: 5px;
    color: #343746;
    font-weight: 700;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
section {
    padding-bottom: 200px;
    height: 400px;
}
.latest {
    color: #FF8367;
}
.project-area {
    background-color: #F8F9FC;
    border: 2px solid red;
}
.project-area img {
    width: 343px;
    height: 148px;
}
.project-area h2 {
    text-align: center;
}