body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header-1 {
    font-size: 50px;
    word-spacing: -5px;
    line-height: 1.2em;
}
h3 {
    font-size: 22px;
    color: #363958;
}
.hello {
    color: #363958;
}
.header-name {
    color: #FF8367;
}
p {
    color: #35363A;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg,#9BD5E0, #D3B3DA);
    padding: 10px 35px;
    border-radius: 5px;
    color: #343746;
    font-weight: 700;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
section {
    padding-bottom: 200px;
    height: 400px;
}
.latest {
    color: #FF8367;
}
.working-header {
    font-size: 40px;
    text-align: center;
}
.project-area {
    background-color: #F8F9FC;
    height: 550px;
    
}
.project-area img {
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: -15px;
}
.project-experience {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 25px 40px #dddddd;
    height: 95%;
}
.quarter-width {
    float: left;
    width: 24%;
    margin-left: 2%;
    padding-left: 2%;
}
.margin-1 {
    margin-left: 10%;
    padding-left: 2%;
    margin-top: 80px;
}
.work-inquiry {
    
}
.img-work {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.img-container {
    position: relative;
    text-align: center;
    color: white;
}
.wi-header {
    position: absolute;
    top: 50%;
    left: 42%;
    font-size: 50px;
    transform: translate(-50%, -50%);
}